<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CPWGSB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFA42EF41D568300003E3EC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA42F0B1D568301003E3EC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA42F161D568301003E3EC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
